@import "compass/css3";
@import "compass/utilities";

// Vars
$accent: #363f48;

// Mixin to quickly include font style
@mixin iconify( $code: null ){
	@if $code {
		content: "#{$code}";
	} @else {
		@content;
	}
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
