@import "preboot";

.stag-tabs,
.stag-toggle,
.stag-video {
	margin: 0 0 2em 0;
}

/* BUTTONS */
.stag-button {
	-webkit-appearance: none;
	-webkit-font-smoothing: inherit;
	display: inline-block;
	background: #979797;
	color: #fff;
	font-size: 16px;
	line-height: 1;
	margin: 5px;
	padding: 12px 16px;
	border-radius: 0;
	text-decoration: none !important;
	text-align: center;
	@include box-sizing(border-box);
	@include transition(all 200ms ease-in-out);
	&:hover {
		color: #fff;
		text-decoration: none;
	}

	&--normal {
		@include opacity(.9);
	}
	&--medium {
		font-size: 18px;
		padding: 17px 22px;
	}
	&--large {
		font-size: 20px;
		padding: 22px 40px;
	}
	&--stroke {
		background: transparent;
		border: 1px solid transparent;
	}
}

@each $button, $color in $button-map {
	.stag-button--#{$button} {
		background: #{$color};
		@if $button == white {
			color: black;
			&:hover {
				color: black;
			}
		}
	}

	.stag-button--stroke.stag-button--#{$button} {
		background: transparent;
		color: #{$color};
		border-color: #{$color};
		&:hover {
			@if $button != white {
				background: #{$color};
				color: white;
			} @else {
				background: white;
				color: black;
			}
		}
	}
}

.stag-button--gray {
	background: #979797;
}

.stag-intro-text {
	font-size: 125%;
	margin-bottom: 2em;
	display: block;
}

/* ALERTS */
.stag-alert {
	text-align: center;
	color: #fff;
	padding: 20px 15px;
	margin: 1em 0;
	display: block;

	@each $alert, $color in $alert-map {
		&--#{$alert} {
			background: #{$color};
		}
	}
}
.stag-alert--gray {
	background: #979797;
}

.stag-dropcap {
	display: block;
	float: left;
	text-align: center;
	margin: 5px 15px 15px 0;
}

.stag-dropcap--squared {
	background: $accent;
	background: $accent_new;
	color: #fff;
}

/* DIVIDER */
.stag-divider {
	border: 0;
	height: 1px;
	background: $accent;
	background: $accent_new;
	margin: 2em 0;
	&--strong {
		height: 7px;
	}

	&--double {
		height: 7px;
	}
	&--double:after {
		content: '';
		display: block;
		border-bottom: 1px solid $accent;
		border-bottom: 1px solid $accent_new;
		position: relative;
		top: 10px;
	}

	&--dashed {
		background: none;
		border-bottom: 1px dashed $accent;
		border-bottom: 1px dashed $accent_new;
	}

	&--dotted {
		background: none;
		border-bottom: 1px dotted $accent;
		border-bottom: 1px dotted $accent_new;
	}
}

/* Tabs */
.stag-nav {
	list-style: none !important;
	margin: 0;
	padding: 0;
	li {
		margin: 0;
		float: left;
		position: relative;
		margin: 0 1px -1px 0 !important;
		z-index: 1;
		outline: 0;
	}
	a {
		text-decoration: none;
		display: block;
		padding: 15px 10px;
		line-height: 1;
		outline: 0;
	}
}

.stag-tab {
	padding: 21px 20px 20px 20px;

	p:first-of-type {
		margin-top: 0;
	}
	p:last-of-type {
		margin-bottom: 0;
	}
}

.stag-tabs--normal .stag-nav a {
	background: $accent;
	background: $accent_new;
	color: #fff;
}
.stag-tabs--normal .stag-nav .ui-tabs-active a {
	background: #fbfbfb;
	color: $accent;
	color: $accent_new;
	outline: 0;
}
.stag-tabs--normal .stag-tab {
	background: #fbfbfb;
}

.stag-tabs--stroke .stag-nav li {
	margin: 0 -1px 0 0 !important;
}
.stag-tabs--stroke .stag-nav a {
	border: 1px solid $accent;
	border: 1px solid $accent_new;
	color: $accent;
	color: $accent_new;
}
.stag-tabs--stroke .stag-nav .ui-tabs-active a {
	border-bottom-color: white;
}
.stag-tabs--stroke .stag-tab {
	border: 1px solid $accent;
	border: 1px solid $accent_new;
	margin-top: -1px;
}

.stag-toggle-title {
	display: block;
	padding: 15px 10px;
	outline: 0;
	cursor: pointer;
	position: relative;
}
.stag-toggle-title:after {
	position: absolute;
	top: 50%;
	right: 15px;
	font-size: 18px;
	@include transform(translateY(-50%));
	@include iconify{
		content: '\f067';
	};
}
.stag-toggle-title.ui-state-active:after {
	content: "\f068";
}
.stag-toggle-content {
	padding: 20px;
}

.stag-toggle--normal .stag-toggle-title {
	background: $accent;
	background: $accent_new;
	color: white;
}

.stag-toggle--stroke .stag-toggle-title {
	border: 1px solid $accent;
	border: 1px solid $accent_new;
}
.stag-toggle--stroke .stag-toggle-title:after {
	color: $accent;
	color: $accent_new;
}

/* Image */
.stag-image {
	display: inline-block;

	&--left {
		float: left;
		margin: 0 1.5em 1em 0;
	}

	&--center {
		display: block;
		margin: 1.5em 0;
		text-align: center;
	}

	&--right {
		float: right;
		margin: 0 0 1.5em 1.5em;
	}

	&--grayscale { @include filter(grayscale(1)); }
	&--sepia { @include filter(sepia(100%)); }
	&--blur { @include filter(blur(2px)); }
	&--hue-rotate { @include filter(hue-rotate(50deg)); }
	&--contrast { @include filter(contrast(15%)); }
	&--brightness {  @include filter(#{"brightness(2)"}); }
	&--invert { @include filter(invert(100%)); }
}

/* Video */
.stag-video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;

	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

@media (min-width: 700px) {
	.stag-one-half {
		width: 48%;
	}

	.stag-one-third {
		width: 30.66%;
	}

	.stag-two-third {
		width: 65.33%;
	}

	.stag-one-fourth {
		width: 22%;
	}

	.stag-three-fourth {
		width: 74%;
	}

	.stag-one-fifth {
		width: 16.8%;
	}

	.stag-two-fifth {
		width: 37.6%;
	}

	.stag-three-fifth {
		width: 58.4%;
	}

	.stag-four-fifth {
		width: 79.2%;
	}

	.stag-one-sixth {
		width: 13.33%;
	}

	.stag-five-sixth {
		width: 82.67%;
	}

	.stag-one-half,
	.stag-one-third,
	.stag-two-third,
	.stag-three-fourth,
	.stag-one-fourth,
	.stag-one-fifth,
	.stag-two-fifth,
	.stag-three-fifth,
	.stag-four-fifth,
	.stag-one-sixth,
	.stag-five-sixth {
		position: relative;
		margin-right: 4%;
		margin-bottom: 2em;
		float: left;
	}

	.stag-column-last {
		margin-right: 0 !important;
		clear: right;
	}
}

.stag-clearfix {
	@extend %cf;
}

.stag-icon-link {
	text-decoration: none;
	@include transition(color 150ms);
}

.fa,
.stag-icon {
	text-align: center;
	vertical-align: middle;
	&--before &{
		margin-right: 0.7em;
	}

	&--after &{
		margin-left: 0.7em;
	}
}

.stag-icon--before svg {
	margin-right: 0.7em;
}
.stag-icon--after svg {
	margin-left: 0.7em;
}

// Instagram Widget
.instagram-widget {
	li {
		display: inline-block;
		margin: 0 5px 5px 0;
		padding: 0 !important;
		list-style: none;
	}
	a {
		text-decoration: none;
		border: none;
	}
	img {
		height: auto;
	}
}
.stag-instagram-widget__item.stag-instagram-widget__item {
	border: none;
}
.instagram-follow-link {
	display: block;
	margin-top: 10px;
}

.stag-instagram-widget--size-small {
	li {
		max-width: 48%;
	}
}

.stag-instagram-widget--size {
	&-thumbnail img { width: 75px; }
	&-small img { width: 160px; }
}

// Twitter Widget
.stag-twitter {
	.time-ago {
		display: block;
		font-size: .9em;
		font-style: italic;
		margin-top: 5px;
	}
	.twitter-follow-button {
		margin: 0;
	}
}
.stag-latest-tweets {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		margin-bottom: 15px;
	}
}

// Flickr Widget
.stag-flickr {
	li {
		list-style: none;
		display: inline-block;
		margin: 0 5px 5px 0;
	}
}

.stag-social-icons {
	font-size: 45px;
	.stag-icon {
		line-height: 72px;
	}
	a {
		display: inline-block;
		width: 72px;
		height: 72px;
		text-align: center;
		vertical-align: top;
		margin: 0 10px 10px 0;
		text-decoration: none;
	}

	&.normal{
		a{
			color: #2f322b;
			border: none;
		}
	}
	&.square{
		a{
			background: #2f322b;
			color: #fff;
			border: none;
		}
	}
}

.google-map {
	margin: 0 0 2em 0;
}

.gm-style img {
	max-width: none;
}

.dribbbles {
	list-style: none;
}
